{% extends "base.html" %}
{% block Rpassword %}
<div class="tile-area tile-area-dark">
<div style="position:absolute; left:150px; top:60px;">
	 <h1 class="tile-group-title fg-white">Recuperar Contraseña</h1>
</div>
<div style="position:absolute; left:80px; top:75px;">
	<a href="/login/"><button style="background-color:#1d1d1d;">
     <img src="{{STATIC_URL}}images/back.png" 	width="40px" >
	</button></a>
</div>
<div style="position:absolute; top:200px; left:200px;">
	<form action="" method="post" id="login">
		{% csrf_token %}
		<table style="background-color:#1d1d1d;">
			<tr>
				
				<td class="tile-group-title fg-white">Nombre de Usuario</td>
				<td style="background-color:#1d1d1d;">{{formRP.usuario}}</td>
				<td class="tile-group-title fg-white">
					{{ formRP.usuario.errors }}
				</td>
			</tr>
			<tr>
				<td class="tile-group-title fg-white">Correo electronico</td>
				<td class="tile-group-title fg-white">{{formRP.email}}</td>
				<td class="tile-group-title fg-white">{{ formRP.email.errors }}</td>
			</tr>
			<tr>
				<td style="background-color:#1d1d1d;" colspan="3"><br></td>
			</tr>
			<tr>
				<td  class="tile-group-title fg-white"colspan="3" align="center"> 
								<input type="submit" value="Recuperar"/>
								<input type="reset" value="Cancelar"/>
				</td>
			</tr>

		</table>
		
	</form>

		<div>
	 		<span style="color:red;">{{ErrorU}}</span>
	 		<span style="color:red;">{{ErrorEU}}</span>
		 <span style="color:green;">{{Exito}}</span>
		</div>
	</div>

	<div style="position:absolute; right:200px; top:20px;">
    	 <img src="{{STATIC_URL}}images/Gmail.png">
 	</div>
</div>
{% endblock %}
