{% extends "base.html" %}
{% block contenido %}
<div class="tile-area tile-area-dark">

        <h1 class="tile-area-title fg-white">Su Farmacia mas Cercana</h1>

        
        	<div class="user-id">
                <a href="/login/" id="Loguear">    
                    <div class="user-id-image">
                        <span class="icon-user no-display1"></span>
                        <img src="static/images/Battlefield_4_Icon.png" class="no-display">
        	       </div>

       		       <div class="user-id-name">
                        <span class="first-name">Inicie</span>
                        <span class="last-name">Sesion</span>
        	       </div>
                </a>	
        	       <div>
            	       <a href="/registroFar/" >Registre Su Farmacia</a>
                    </div>

            </div>
<div id="container"> 

</div>
<!-- /////////////////////////////////////////////////////////////7 -->
        <div class="tile-group six">

            <a class="tile double bg-lightBlue live" data-role="live-tile" data-effect="slideUp" data-click="transform">
                <div class="tile-content email">
                    <div class="email-image">
                        <img src="{{STATIC_URL}}images/obama.jpg">
                    </div>
                    <div class="email-data">
                        <span class="email-data-title">Barak Obama</span>
                        <span class="email-data-subtitle">Aprueba este sistema</span>
                        <span class="email-data-text">I para toda la poblcion mundial</span>
                    </div>
                </div>
                <div class="tile-content email">
                    <div class="email-image">
                        <img src="{{STATIC_URL}}images/jolie.jpg">
                    </div>
                    <div class="email-data">
                        <span class="email-data-title">Jolie &amp; Bred</span>
                        <span class="email-data-subtitle">You're invited</span>
                        <span class="email-data-text">I hope that you can make and make</span>
                    </div>
                </div>

                <div class="tile-content email">
                    <div class="email-image">
                        <img src="{{STATIC_URL}}images/obama.jpg">
                    </div>
                    <div class="email-data">
                        <span class="email-data-title">Arny</span>
                        <span class="email-data-subtitle">You're invited</span>
                        <span class="email-data-text">I hope that you can make and make</span>
                    </div>
                </div>
                <div class="brand">
                    <div class="label"><h3 class="no-margin fg-white"><span class="icon-mail"></span></h3></div>
                    <div class="badge">3</div>
                </div>
            </a> <!-- end tile -->

            <a class="tile double bg-violet" data-click="transform">
                <div class="tile-content">
                    <div class="text-right padding10 ntp">
                        <h1 class="fg-white no-margin">10</h1>
                        <p class="fg-white">Sunday</p>
                    </div>
                </div>
                <div class="brand">
                    <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                </div>
            </a> <!-- end tile -->

           <div class="tile" data-click="transform">
               
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/clouds.jpg">
                </div>

                <div class="brand">
                    <div class="label fg-amber">Photos</div>
                </div>

            </div> <!-- end tile -->
            
            <!-- small tiles -->
            <a href="#" class="tile half bg-darkRed" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-camera"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-darkOrange" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-headphones"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-green" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-steering-wheel"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-darkPink" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-pictures"></span>
                </div>
            </a>
            <!-- end small tiles -->

            <a class="tile double double-vertical bg-steel" data-click="transform">
                <div class="tile-content" style="background: url({{STATIC_URL}}images/clouds2.png)">
                    <div class="padding10">
                        <h1 class="fg-white ntm">57&deg;</h1>
                        <h2 class="fg-white no-margin">Potosi</h2>
                        <h5 class="fg-white no-margin">Bolivia</h5>
                        <p class="tertiary-text fg-white no-margin">Today</p>
                        <p class="tertiary-text fg-white">0&deg;/5&deg; Mostly Clear</p>
                        <p class="tertiary-text fg-white no-margin">Tomorrow</p>
                        <p class="tertiary-text fg-white">0&deg;/8&deg; Mostly Clear</p>
                    </div>

                </div>
                <div class="tile-status">
                    <div class="label">Weather</div>
                </div>
            </a> <!-- end tile -->

            <div class="tile double" data-click="transform">
                <div class="tile-content image-set">
                    <img src="{{STATIC_URL}}images/jeki_chan.jpg">
                    <img src="{{STATIC_URL}}images/jek_vorobey.jpg">
                    <img src="{{STATIC_URL}}images/jolie.jpg">
                    <img src="{{STATIC_URL}}images/obama.jpg">
                    <img src="{{STATIC_URL}}images/shvarcenegger.jpg">
                </div>
            </div> <!-- end tile -->

            <a href="#" class="tile bg-lightBlue" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-IE"></span>
                </div>
                <div class="brand">
                    <div class="label">Internet Explorer</div>
                </div>
            </a>

            <a href="#" class="tile bg-darkOrange" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-help"></span>
                </div>
                <div class="brand">
                    <div class="label">Help+Tips</div>
                </div>
            </a>

            <a class="tile double bg-lightBlue" data-click="transform" href="#">
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/medicamentos (4).jpg">
                </div>
                <div class="brand">
                    <div class="label">MedicamentosSSS</div>
                </div>
            </a>

            <a class="tile double bg-darkGreen" data-click="transform" href="/Buscar_Global/">
                <div class="tile-content icon">
                    <span class="icon-cart-2"></span>
                </div>
                <div class="brand">
                    <div class="label">Buscar Medicamento</div>
                </div>
            </a>
        </div> <!-- End group -->

        
       <!-- <div class="tile-group one">
            <div class="tile-group-title">Medicamentos</div>
            <a class="tile half bg-darkBlue" data-click="transform" href="#">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/word.png">
                </div>
            </a>
            <a class="tile half bg-darkGreen" data-click="transform">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/excel.png">
                </div>
            </a>
            <a class="tile half bg-darkPink" data-click="transform">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/onenote.png">
                </div>
            </a>
            <a class="tile half bg-orange" data-click="transform">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/powerpoint.png">
                </div>
            </a>
            <a class="tile half bg-lightBlue" data-click="transform">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/outlook.png">
                </div>
            </a>
            <a class="tile half bg-darkRed" data-click="transform">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/access.png">
                </div>
            </a>
        </div> --><!-- End tile group -->

        <div class="tile-group double">
            <div class="tile-group-title">Medicametos mas buscados</div>
        <!--    <div>     
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d122403.41295297751!2d-68.0915129!3d-16.52071235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sbo!4v1401166766506" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div> -->
            <div class="tile bg-dark" data-click="transform">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/medicamentoss.jpg">
                </div>
                <div class="brand">
                    <div class="label">Sanatusin</div>
                </div>
            </div>
            <div class="tile bg-dark" data-click="transform">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/medicamento1.jpg">
                </div>
                <div class="brand">
                    <div class="label">Calmantes</div>
                </div>
            </div>
            <div class="tile bg-dark" data-click="transform">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/medicamentos (1).jpg">
                </div>
                <div class="brand">
                    <div class="label">Aspirinas</div>
                </div>
            </div>
            <div class="tile bg-dark" data-click="transform">
                <div class="tile-content icon">
                    <img src="{{STATIC_URL}}images/medicamentos.png">
                </div>
                <div class="brand">
                    <div class="label">Dicoflenaco</div>
                </div>
            </div>
        </div> <!-- End group -->

        <!--
        <div class="tile-group double">
            <div class="tile double" data-click="transform">
                <div class="tile-content image-set">
                    <img src="{{STATIC_URL}}images/1.jpg">
                    <img src="{{STATIC_URL}}images/2.jpg">
                    <img src="{{STATIC_URL}}images/3.jpg">
                    <img src="{{STATIC_URL}}images/4.jpg">
                    <img src="{{STATIC_URL}}images/5.jpg">
                </div>
            </div>
            <div class="tile double live" data-role="live-tile" data-effect="slideUpDown" data-click="transform">
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/1.jpg">
                </div>
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/2.jpg">
                </div>
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/3.jpg">
                </div>
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/4.jpg">
                </div>
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/5.jpg">
                </div>

                <div class="tile-status">
                    <span class="label">Images</span>
                </div>
            </div>
        </div>-->
        <!-- /////////////////////////////////////////////////////////////7 -->

</div>




{% endblock %}
