{% extends "base.html" %}
{% block contenido %}

<div class="tile-area tile-area-dark">

        <h1 class="tile-area-title fg-white">Bienvenido</h1>

        
        	<div class="user-id">
                <a href="/login/" id="Loguear">    
                    <div class="user-id-image">
                        <span class="icon-user no-display1"></span>
                        <img src="static/images/Battlefield_4_Icon.png" class="no-display">
        	       </div>

       		       <div class="user-id-name">
                        <span class="first-name">Inicie</span>
                        <span class="last-name">Sesion</span>
        	       </div>
                </a>	
        	       <div>
            	       <a href="/registroFar/" >Registre Su Farmacia</a>
                    </div>

            </div>
<div id="container"> 

</div>
<!-- /////////////////////////////////////////////////////////////7 -->
        <div class="tile-group six">

            <a class="tile double bg-lightBlue live" data-role="live-tile" data-effect="slideUp" data-click="transform">
                <div class="tile-content email">
                    <div class="email-image">
                        <img src="{{STATIC_URL}}images/obama.jpg">
                    </div>
                    <div class="email-data">
                        <span class="email-data-title">Barak Obama</span>
                        <span class="email-data-subtitle">Aprueba este sistema</span>
                        <span class="email-data-text"></span>
                    </div>
                </div>
                <div class="tile-content email">
                    <div class="email-image">
                        <img src="{{STATIC_URL}}images/jolie.jpg">
                    </div>
                    <div class="email-data">
                        <span class="email-data-title">Jolie &amp; Bred</span>
                        <span class="email-data-subtitle">Yo le invito a Aprovechar</span>
                        <span class="email-data-text">Este Sistema de busqueda</span>
                    </div>
                </div>

                <div class="tile-content email">
                    <div class="email-image">
                        <img src="{{STATIC_URL}}images/obama.jpg">
                    </div>
                    <div class="email-data">
                        <span class="email-data-title">Obama</span>
                        <span class="email-data-subtitle">Yo le invito a Aprovechar</span>
                        <span class="email-data-text">Este Sistema de busqueda</span>
                    </div>
                </div>
                <div class="brand">
                    <div class="label"><h3 class="no-margin fg-white"><span class="icon-mail"></span></h3></div>
                    <div class="badge">3</div>
                </div>
            </a> <!-- end tile -->

            <a class="tile double bg-green" data-click="transform">
                <div class="tile-content">
                    <div class="text-right padding10 ntp">
                        <h1 class="fg-white no-margin" id="Dia"></h1>
                        <p class="fg-white" id="NombreDia">Sunday</p>
                        <form name="Tick">
                            <input type="text" size="8" name="Clock" />
                        </form>
                    </div>
                </div>
                <div class="brand">
                    <div class="label"><h3 class="no-margin fg-white"><span class="icon-calendar"></span></h3></div>
                </div>
            </a> <!-- end tile -->

           <div class="tile" data-click="transform">
               
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/clouds.jpg">
                </div>

                <div class="brand">
                    <div class="label fg-amber">Photos</div>
                </div>

            </div> <!-- end tile -->
            
            <!-- small tiles -->

            <a href="#" class="tile half bg-darkRed" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-camera"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-darkOrange" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-headphones"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-green" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-steering-wheel"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-darkPink" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-pictures"></span>
                </div>
            </a>
            <!-- end small tiles -->

            <a class="tile double double-vertical bg-steel" data-click="transform">
                <div class="tile-content" style="background: url({{STATIC_URL}}images/cloud3.jpg)">
                    <center>
                    <div id="tyt_wdgt_1404709870569" style="overflow:hidden;width:182px;height:255px" data-options="color=azul&text=txt-verdana&content=0011000&temp_unit=c&wind_unit=kmh"><script src="http://tiempoytemperatura.es/widgets/js/little-2days/3907584/tyt_wdgt_1404709870569/?v=0"></script></div>
                    </center>
                </div>
                <div class="tile-status">
                    <div class="label"></div>
                </div>
            </a> <!-- end tile -->

            <div class="tile double" data-click="transform">
                <div class="tile-content image-set">
                    <img src="{{STATIC_URL}}images/jeki_chan.jpg">
                    <img src="{{STATIC_URL}}images/jek_vorobey.jpg">
                    <img src="{{STATIC_URL}}images/jolie.jpg">
                    <img src="{{STATIC_URL}}images/obama.jpg">
                    <img src="{{STATIC_URL}}images/shvarcenegger.jpg">
                </div>
            </div> <!-- end tile -->

            <a href="#" class="tile bg-lightBlue" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-IE"></span>
                </div>
                <div class="brand">
                    <div class="label">Internet Explorer</div>
                </div>
            </a>

            <a href="#" class="tile bg-darkOrange" data-click="transform">
                <div class="tile-content icon">
                    <span class="icon-help"></span>
                </div>
                <div class="brand">
                    <div class="label">Help+Tips</div>
                </div>
            </a>

            <a class="tile double bg-lightBlue" data-click="transform" href="/MostrarFyM/">
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/Search.png" style="height:123px;width:250px">
                </div>
                <div class="brand">
                    <div class="label" style="Color:Black">Busque Su Farmacia Preferida</div>
                </div>
            </a>
             <a class="tile double bg-lightBlue" data-click="transform" href="/Buscar_Mcercano/">
                <div class="tile-content image">
                    <img src="{{STATIC_URL}}images/Google Maps.png" style="height:123px;width:250px">
                </div>
                <div class="brand">
                    <div class="label" style="Color:Black">Su Medicamento mas cerca</div>
                </div>
            </a>

            
        </div> <!-- End group -->

        
       

        <div class="tile-group double">
            <div class="tile-group-title">Medicametos mas buscados</div>

            <div>
    
                 <table style="background-color:#1d1d1d;">
                    
                        {%for item in Medicamentos%}
                    <tr>
                        <td><h3><a href="/Buscar_Mcercano/">{{item.Name_med}}</a></h3></td>
                    </tr>
                        {%endfor%}
                </table>

            </div>

        </div> <!-- End group -->


</div>

<div>
<script>
<!--
/*By George Chiang (WA's JavaScript tutorial)

Credit must stay intact for use*/
function show(){
var Digital=new Date()
var hours=Digital.getHours()
var minutes=Digital.getMinutes()
var seconds=Digital.getSeconds()
var dn="AM" 
if (hours>12){
dn="PM"
hours=hours-12
}
if (hours==0)
hours=12
if (minutes<=9)
minutes="0"+minutes
if (seconds<=9)
seconds="0"+seconds
document.Tick.Clock.value=hours+":"+minutes+":"
+seconds+" "+dn
setTimeout("show()",1000)
}
show()
//-->


var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
var f=new Date();
//document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
document.getElementById('Dia').innerHTML = f.getDate();
document.getElementById('NombreDia').innerHTML = diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear();
</script>

{% endblock %}
