{% extends "base.html" %}
{% block B_global %}
<div style="position:absolute; left:20px; top:15px">
	<h1><a href="/Principal/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a></h1><h2>Volver Atras</h2>
</div>
<div style="position:absolute; top:10px; left:220px;">
	<form action="" method="post" >
		{% csrf_token %}
		<table>
			<tr>
				<td align="center"><h1>Buscar Medicamento</h1></td>
			</tr>
			<tr>
				
				<td align="center">{{formBG.N_Medicamento}}</td>
				<td >{{ formulario.N_Medicamento.errors }}</td>
			</tr>
			<tr><td><br></b></td></tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="Buscar"/>
				</td>

			</tr>
		</table>
	</form>
</div>
<div style="position:absolute; left:90px;">

<table class="table bordered" style=" width:700px; position:absolute; left:-70px;top:210px; ">
		<tr>
			<th width="200px">Medicamento</th>
			<th width="150px">Presios</th>
			<th width="200px">Farmacia</th>
			<th width="300px" >Ubicacion</th>
		</tr>
</table>
	<div>
	<table border="1" style="position:absolute; left:-70px; top:250px; width:297px"; class="table bordered">
		
			{%for item in med%}
			
			<tr>
			<td width="200px">{{ item.Name_med }}</td>
			<td width="150px">{{ item.Costo }} Bs</td>
			</tr> 
			
			{% endfor %}
	</table>

	<table border="1" style="position:absolute; left:226px; top:250px;width:166px"; class="table bordered" >
		{%for i in F%}
		<tr>
			<td>
				{{i}}	
			</td>
		</tr>
		{% endfor %}
	</table>

	<table border="1" style="position:absolute; left:390px; top:250px;width:241px"; class="table bordered" id="idTabla">
		{%for i in U%}
		<tr>
			<td class="bs">
				<a longitud="{{i}}" class="boton">Ver Como LLegar</a>
			</td>
		</tr>
		{% endfor %}
	</table>

	</div>	

</div>

<div style="position:absolute; top:250px; left:230px">
	<span><h2 style="color:red;">{{Error}}</h2></span>
</div>
<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDdRfpXSH7xYKQqAVtFmZR2lXpKkLoUDq0&sensor=false">
 </script>


<style type="text/css">
			#map_canvas{

				width:620px;
				height:300px;
			}

</style>
	<script type="text/javascript">
$(document).ready(UbicacionFarmcia);
	function UbicacionFarmcia()
	{
    $(".boton" ).click(function( event ) {
        event.preventDefault();
        longitud=$(this).attr("longitud");
        document.getElementById("destino").value=longitud;
        getDirections();
        //var latitud=$(this).attr("latitud");
        //alert(longitud);
        //Aqui llamas a la funcion que ya tiene para dibujar el mapa por ejemplo si seria dibujar:
        //initialize();
    });
	}

////////////////////////////////////////////////////777
/*	var posiciones = new Array()
   	$(document).ready(Mostrar);
	function Mostrar()
	{
    $(".Mostrar" ).click(function( event ) {
       var tabla = document.getElementById("idTabla");
		var tdsTabla2 = tabla.getElementsByTagName("a");
		var i =0;
		//var posiciones = new Array()
		for (i=0; i<tdsTabla2.length; i++){
			  posiciones[i]=tdsTabla2[i].innerHTML;
			  //alert(posiciones[i]);
			  //console.log(posiciones)
		}
    });
	}*/
///////////////////////////////////Poner la posicion del Usuario/////////////
	var map
        jQuery(document).ready(function($) {
            var mapOptions = {
                center: new google.maps.LatLng(-19.574676,-65.760598),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
             map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
             google.maps.event.addDomListener(map, 'click', showAlert);

        });
        var arreglo=""
        var showAlert=function(e){
                borrar(null)
                $("#origen").val(e.latLng.k+","+e.latLng.B)

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(e.latLng.k,e.latLng.B),
                    map: map,
                    title: 'Click to zoom',
                    draggable: true,

                });

                arreglo=marker
                google.maps.event.addListener(arreglo, 'dragend', function(e) {
                
                     $("#origen").val(e.latLng.k+","+e.latLng.B)

                } );
                //marker.setMap(null);
               // console.log(marker.getPosition())
                //center = new google.maps.LatLng(-34.397, 150.644)
                    
            }
       var borrar=function(e){
            if(arreglo!="")
                arreglo.setMap(e)
       }

////////////////////////////////////////////////////////////////////////////

</script>
<!--//////////////////////Marcar Ruta ///////////////////-->
<script type="text/javascript">
	var map = null;
	var directionsDisplay = null;
	var directionsService = null;

	function initialize() {
	   /*var myLatlng = new google.maps.LatLng(20.68009, -101.35403);
	    var myOptions = {
	        zoom: 4,
	        center: myLatlng,
	        mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    map = new google.maps.Map($("#map_canvas").get(0), myOptions);*/
		directionsDisplay = new google.maps.DirectionsRenderer();
		directionsService = new google.maps.DirectionsService();

	}

	function getDirections(){
		var start = $('#origen').val();
		var end = $('#destino').val();
		if(!start || !end){
			alert("Es requerido su posicion en el mapa para empezar");
			return;
		}
		var request = {
		        origin: start,
		        destination: end,
		        travelMode: google.maps.DirectionsTravelMode[$('.routeOptions').val()],
		        unitSystem: google.maps.DirectionsUnitSystem[$('.unitSystem').val()],
		        provideRouteAlternatives: true
	    };

		directionsService.route(request, function(response, status) {
    		if (status == google.maps.DirectionsStatus.OK) {
       		directionsDisplay.setMap(map);
        	directionsDisplay.setPanel($("#panel_ruta").get(0));
        	directionsDisplay.setDirections(response);
    		} else {
            	alert("No existen rutas entre ambos puntos");
    		}
		});
		console.log(directionsService.route);
	}

	//$('#search').live('click', function(){ getDirections(); });
	//$('.routeOptions').live('change', function(){ getDirections(); });


	$(document).ready(Iniciar);
	function Iniciar(){
		//$("#search" ).click(function( event ) {
       				//getDirections();
    	//});

    	$(".routeOptions" ).live(function( event ) {
       				getDirections();
    	});



	}
	
	$(document).ready(function() {
	    initialize();
   		gmaps_ads();
	}); 
</script>
<!--////////////////////////////////////////////////////////77-->

	<div id="map_canvas" style="position: absolute; top:5px; right:10px;">

	</div>


	<div style="position:absolute; left:150px; top:5px;">
    	 <img src="{{STATIC_URL}}images/Marcador.png" width="100px">
 	</div>
 	<div style="position:absolute; right:650px; top:5px;">
    	 <img src="{{STATIC_URL}}images/Marcador.png" width="100px">
 	</div>

<div style="position: absolute; top:10px; right:20px;">
<div>
    <input type="hidden" name="origen" id="origen"/>
    <input type="hidden" name="destino" id="destino"/>
</div>
<br />
</div>

<div style="position: absolute; top:160px; left:280px;"> <h3>Opciones</h3> </div>
<div style="position: absolute; top:170px; left:380px;">
<div id="rutaOps" >
    <select id="modo_viaje" class="routeOptions">
        <option value="DRIVING" selected="selected">Auto</option>
        <!--<option value="BICYCLING">Bicicleta</option>-->
        <option value="WALKING">Caminando</option>
    </select>
    <select id="tipo_sistema" class="unitSystem">
        <option value="METRIC" selected="selected">Métrico</option>
        <option value="IMPERIAL">Imperial</option>
    </select>
</div>
<br />
</div>

    <div id="panel_ruta" style="position:absolute; right:10px;top:310px; width:620px; height:330px; overflow: scroll;"></div>


{% endblock %}