{% extends "base.html" %}
{% block container%}
<div style="position:absolute; left:20px; top:15px">
	<h1><a href="/Principal/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a></h1><h2>Volver Atras</h2>
</div>
<div style="position:absolute; top:10px; left:500px;" >
		<form action="" method="POST">
			{% csrf_token %}
			<table>
				<tr>
					<td><h2>Busque Su Farmacia Preferida</h2></td>
				</tr>
				<tr>
					<td align="center">{{formBF.N_Farmacia}}</td>
				</tr>
				<tr><td><br></td></tr>
				<tr>
					<td align="center"><input type="submit" value="Buscar"/></td>
				</tr>
			</table>
		</form>

	</div>

<div style="position:absolute; top:170px;">
	<table class="table hovered" style="width:700px;">
		<tr>
			{%for i in Farmacias%}
			<td colspan="2"><h3 style="color:green;">Farmacia {{i.Name_Farmacia}}</h3></td>
			<td><a longitud="{{i.Ubicacion}}" class="boton"><h3 style="color:green">Ver Su ubicacion en el mapa</h3></a></td>
			{%endfor%}
		</tr>
		<tr>
			<th>Medicamentos a la venta</th>
			<th align="right" width="150px">Presio por Unidad</th>
			<th align="center">Suministro</th>
		</tr>
		{%for item in Medicamentos%}
		<tr>
			<td>{{item.Name_med}}</td>
			<td align="right" width="150px">{{item.Costo}}</td>
			<td align="center" >{{item.Categoria}}</td>
		</tr>
		{%endfor%}
	</table>
</div>
<div style="position:absolute; top:140px; left:500px;color:red;">
{{Error}}
{{Error2}}
</div>

<div style="position:absolute; left:300px; top:5px;">
    	 <img src="{{STATIC_URL}}images/Cruz.png" width="150px">
 </div>
 <div style="position:absolute; right:350px; top:5px;">
    	 <img src="{{STATIC_URL}}images/Farmacia.png" width="150px">
 </div>

<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBOPvzpjstSF8bboQOu1Kui6BEfYc0K_Fc&sensor=false">
 </script>

 <style type="text/css">
			#mapas{

				width:600px;
				height:425px;
			}
</style>

<script type="text/javascript">
        //Declaramos las variables que vamos a user
	//var lat = null;
	//var lng = null;
	var map = null;
	var geocoder = null;
	var marker = null;
    var longitud;   

	$(document).ready(inicio);
	function inicio()
	{
    $(".boton" ).click(function( event ) {
        event.preventDefault();
        longitud=$(this).attr("longitud");
        //var latitud=$(this).attr("latitud");
        //alert(longitud);
        //Aqui llamas a la funcion que ya tiene para dibujar el mapa por ejemplo si seria dibujar:
        initialize();
    });
	}
  
    function initialize() {

     	var Pos=longitud.toString();
     	var lon = new Array()
     	var lat = new Array()

     	for (var i = 0; i< Pos.length; i++) {
         var caracter = Pos.charAt(i);
         if( caracter == ",") {
         		break;
          	}  
         else
         	  lon[i]=caracter
   		}

   		longt=parseFloat(lon.join(""));//longitud

   		for (var j = 0; j< Pos.length; j++) {
         var caracter = Pos.charAt((j+lon.length)+1);
         		lat[j]=caracter 
   		}

   		latit=parseFloat(lat.join(""));//latitud

        //geocoder = new google.maps.Geocoder();
        //Si no creamos el objeto con una latitud cualquiera como la de Mar del Plata, Argentina por ej
         var latLng = new google.maps.LatLng(longt,latit);
      
      		//Definimos algunas opciones del mapa a crear
       	 var myOptions = {
          center: latLng,//centro del mapa
          zoom: 17,//zoom del mapa
          mapTypeId: google.maps.MapTypeId.ROADMAP //tipo de mapa, carretera, híbrido,etc
          };
        //creamos el mapa con las opciones anteriores y le pasamos el elemento div
        	map = new google.maps.Map(document.getElementById("mapas"), myOptions);
         
        //creamos el marcador en el mapa
        	marker = new google.maps.Marker({
            map: map,//el mapa creado en el paso anterior
            position: latLng,//objeto con latitud y longitud
            //draggable: true //que el marcador se pueda arrastrar
        });
        
      	 //función que actualiza los input del formulario con las nuevas latitudes
      	 //Estos campos suelen ser hidden
       
         
   	 }
    
    </script>

	<div id="mapas" style="position: absolute; top:200px; right:20px;">

	</div>
{% endblock container%}